ul {
	-webkit-padding-start: 10px;
}

.padding {
	-webkit-padding-start: 30px;
}

.ui-listview {
    margin-left: 0px !important;
    margin-right:0px !important;
}

.checklist-label {
	font-size:20px;
	white-space: normal !important;
}

.noStyle {
	list-style: none !important;
}

.list {
	list-style: none !important;
	display: inline-block;
}

input[type=checkbox].css-checkbox {
	display: none;
	left:0px;
}

.rename {
	font-style: bold !important;
	color: grey !important;
}

input[type=checkbox].css-checkbox + label.css-label {
	left:0px;
	padding-left:31px;	 
	display:inline-block;
	height:26px;
	line-height:26px;
	background-repeat:no-repeat;
	background-position: 0 0;
	font-size:16px;
	vertical-align:middle;
	cursor:pointer;
	white-space: normal !important;
}

input[type=checkbox].css-checkbox:checked + label.css-label {
	background-image:url(../img/checked.png) !important;
	text-decoration: line-through;
    color: grey !important;
    font-weight: normal !important;
    font-style: italic !important;
}

label.css-label {
	height:auto !important;
	line-height:auto !important;
	background-image:url(../img/unchecked.png);
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}